.start-page-body-container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    padding: 10px 0;
    /* gap: 200px; */
    /* background-color: #d50082; */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');

.start-page-body-title-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* justify-content: space-evenly; */
    font-family: 'Poppins';    
    justify-content: center;
    gap: 10px;
}

.start-page-body-title-name {
    /* font-size: 90px;
    padding: 0;
    margin: 0;
    color: rgba(213, 220, 223, 1); */
    /* width: 100%; */
    /* height: 80%; */
    width: 300px;
    height: 70px;
    margin: 0;
    padding: 0;
    background: url('bodyTitle.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.start-page-body-title-description {
    font-size: 32px;
    max-width: 270px;
    color: rgba(213, 220, 223, 0.75);
}

.start-page-body-button {
    width: 360px;
    height: 100px;
    background: inherit;
    font-size: 30px;
}

.start-page-body-button {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 2px solid;
    /* border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082); */
    border-image:linear-gradient(94.85deg, #6B11DF 0.71%, #8F46EC 100%);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Poppins', 'Montserrat', sans-serif;
    /* text-transform: uppercase; */
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.start-page-body-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    /* background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082); */
    background: linear-gradient(94.85deg, #6B11DF 0.71%, #8F46EC 100%);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.start-page-body-button:hover {
    background: rgba(255, 255, 255, 0);
}

.start-page-body-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

