.start-page {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #212121;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.start-page-header-container {
    flex: 2 ;
}

.start-page-body-container {
    flex: 3;
}

.start-page-footer-container {
    flex: 2;
}