body {
    padding: 0;
    margin: 0;     
}

html, body {
    width: 100%;
    height: 100%;
}

.main-page {
    /* position: relative; */
}

.background-gray {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 430;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;

    opacity: 0;
    animation: showBackground .3s forwards;
}

@keyframes showBackground {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
