<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="rating_style.css">
    <link rel="stylesheet" href="../hystModal/hystmodal.min.css">
    <script src="../hystModal/hystmodal.min.js"></script>
    <title>Форма входа</title>
</head>
<body>
    <div class="container">
        <h1> Просто страница</h1>
        <p> lmmfdkmfsdmsdmkfksmag[oiqavmcxkcmsx </p>
        <p>hello epta</p>
        <a href="#" data-hystmodal="#myModal">Оценить адекватность</a>
    </div>
    <div class="hystmodal" id="myModal" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <button data-hystclose class="hystmodal__close">Закрыть</button>
                <div class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title">Оцените адекватность user-a</span>
                        </div> 
                        <div class="modal-body">
                            <button class="emoji1"></button>
                            <button class="emoji2"></button>
                            <button class="emoji3"></button>
                            <button class="emoji4"></button>
                            <button class="emoji5"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
            
    
    
    <script src="rating_script.js"></script>
</body>
</html>  