.right-bar-map-popup-bottle {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 500px;
    height: 100%;
    z-index: 450;
    color: #FFFFFF;
    background-color: #212121;

    /* transform: translateX(100%);
    opacity: 0;
    animation: openPopupBar .3s forwards;     */
}

@keyframes openPopupBar {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }    
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.right-bar-map-popup-body {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 15px 10px 15px 10px;
    gap: 10px;
}

.right-bar-map-popup-body-title {
    display: flex;
    align-items: center;
    height: 85px;
    padding: 0 15px 0 15px;
    gap: 15px;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 500;
    color: #D5DCDF;
    background: linear-gradient(91.83deg, #7346AB 24.57%, #A35BFF 98.2%);
}

.right-bar-map-popup-body-title.commerc {
    background: linear-gradient(91.83deg, #CC9D3A 24.57%, #E2BC6D 98.2%);
}

.right-bar-map-popup-body-title.hang {
    background: linear-gradient(91.83deg, #7346AB 24.57%, #A35BFF 98.2%);
}

.right-bar-map-popup-body-title.acquaintance {
    background: linear-gradient(91.83deg, #BB27C5 24.57%, #DD68E4 98.2%);
}

.right-bar-map-popup-body-title.sport {
    background: linear-gradient(91.83deg, #3784BE 24.57%, #6CB3E9 98.2%);
}

.right-bar-map-popup-body-title.other {
    background: linear-gradient(91.83deg, #3BB532 24.57%, #87DF81 98.2%);
}

.right-bar-map-popup-body-title-icon {
    width: 37px;
    height: 37px;
}

.right-bar-map-popup-body-title.other .right-bar-map-popup-body-title-icon {
    width: 34px;
    height: 34px;
}

.right-bar-map-popup-body-info {
    display: flex;
    flex-direction: column;
    height: 120px;
    border: none;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: #373839;
}

.right-bar-map-popup-body-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.right-bar-map-popup-body-info-container-title {
    font-size: 17px;
}

.right-bar-map-popup-body-info-container-value {
    font-weight: bold;
    font-size: 17px;
}

.right-bar-map-popup-body-description {
    flex: 3;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #373839;
}

.right-bar-map-popup-body-description-text {
    max-height: 300px;    
    padding: 5px 5px;
    word-wrap: break-word;
    flex: 2;
    overflow-y: auto;
}

.right-bar-map-popup-body-description-text::-webkit-scrollbar {    
    background-color: #373839;
    width: 6px;    
}

.right-bar-map-popup-body-description-text::-webkit-scrollbar-thumb {
    background-color: #212121;
    border-radius: 8px;    
}

.right-bar-map-popup-body-description-content {
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    overflow-x: auto;
}

.right-bar-map-popup-body-description-content::-webkit-scrollbar {    
    background-color: #373839;
    height: 8px;    
}

.right-bar-map-popup-body-description-content::-webkit-scrollbar-thumb {
    background-color: #212121;
    border-radius: 8px;    
}

.right-bar-map-popup-body-description-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    min-height: 120px;
    height: 120px;

    border-radius: 10px;
    /* transition: .5s; */

    background-color: #212121;
}

.right-bar-map-popup-body-description-content-photo {
    max-width: 180px;
    max-height: 120px;
    border-radius: 10px;

    transition: .5s;

    /* transform: scale(1); */
}

.right-bar-map-popup-body-description-content-photo.scaled {
    position: fixed;
    /* left: -50%;
    top: 40%; */
    /* left: 50%;
    top: 50%; */
    
    /* transition: .5s; */
    
    transform: scale(4) translate(-50%, -50%);
    /* animation: scaleImage .5s forwards;     */
}

.right-bar-map-popup-body-description-content-container.scaled {
    /* position: fixed; */

    /* left: 45%;
    top: 40%;
    transform: scale(4);
    transition: .5s; */

    /* scale: 1;
    animation: scaleImage .5s forwards; */
}

@keyframes scaleImage {
    0%{
        transform: scale(1);
        transform: translate(0,0);
    }
    100%{
        transform: scale(4);
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 700px) {
    .right-bar-map-popup-bottle {
        width: 100%;
        color: #FFFFFF;
        background-color: rgba(23, 23, 23, 1);
    }

    .right-bar-map-popup-body-title {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 18px;        
        /* background: transparent !important; */
    }

    /* .right-bar-map-popup-body-info,
    .right-bar-map-popup-body-description {    
        background-color: rgba(23, 23, 23, 1);
    } */
    
}