.map-modal-container {
    z-index: 450;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.map-modal-data-container {
    cursor: auto;
    z-index: 650;
    padding: 30px 40px;
    width: 370px;
    height: auto;
    min-height: 220px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(33, 33, 33, 1);
    font-weight: 500;
    border-radius: 10px;
}

.map-modal-data-container-image {
    max-width: 50px;
    max-height: 50px;
}

.map-modal-data-container-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map-modal-data-container-text-quest {
    font-size: 22px;
}

.map-modal-data-container-text-caption {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.map-modal-data-container-text-caption-address {
    background-image: linear-gradient(90deg, #8F46EC 5.56%, #B77FFF 81.94%);
    background-color: #6c61b3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.map-modal-data-container-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.map-modal-data-container-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.map-modal-data-container-button {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 7px;
    font-size: 20px;    
}

.map-modal-data-container-button.yes,
.map-modal-data-container-button.ok {
    background: linear-gradient(90deg, #8F46EC 5.56%, #B77FFF 81.94%);
    color: rgba(255, 255, 255, 1);
}

.map-modal-data-container-button.no {
    border: 1px solid #B77FFF;
    color: rgba(183, 127, 255, 1);
    background-color: transparent;
}

