.interface-button-container {
    /* position: fixed; */
    z-index: 400;
    width: 100%;
    height: 100%;
    display: flex;
}

.profile-button-mainPage,
.filter-select-mainPage, 
.search-field-mainPage, 
.chat-button-mainPage,
.create-bottle-button-mainPage {
    position: fixed;
    z-index: 400;
}

.profile-button-mainPage,
.chat-button-mainPage,
.create-bottle-button-mainPage {
    width: 70px;
    height: 70px;
}

.filter-select-mainPage, 
.search-field-mainPage {
    width: 200px;
    height: 30px;
}

.profile-button-mainPage {
    top: 20px;
    right: 40px;
}

.filter-select-mainPage {
    top: 30px;
    left: 410px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    padding: 0 10px 0 10px;
    background-color: #212121;
    color: #D5DCDF99;

    display: none;
}

.search-field-mainPage {
    top: 30px;
    left: 40px;
}

.chat-button-mainPage {
    bottom: 120px;
    left: 40px;
}

.create-bottle-button-mainPage {
    top: 30px;
    left: 630px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 0;
    background: linear-gradient(137.6deg, #766AC8 6.67%, #B77EFF 104.65%);
    color: #D5DCDF;
    font-size: 30px;

    cursor: pointer;
}

.interfaceButton-search-field-with-otherButton {
    display: flex;
    padding: 0 10px 0 10px;
    width: 350px;
    height: 50px;
    /* justify-content: space-between; */
    gap: 5px;
    align-items: center;
    background-color: #212121;
    position: fixed;
    z-index: 400;
    left: 20px;
    top: 30px;
    border-radius: 10px;    
}

.open-other-container-button,
.search-address-container-button,
.interfaceButton-search-container-form-input {
    height: 30px;
}

.interfaceButton-search-container {
    width: 100%;
}

.interfaceButton-search-container-form-input {
    width: 280px;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 0;
    padding: 0 10px 0 10px;
    background-color: rgba(213, 220, 223, 0.15);
    color: #D5DCDF99;
    outline: none;
}

.open-other-container-button {
    width: 30px;
    background: url('otherIcon.svg') 50% 50% no-repeat;
    border: 0;

    cursor: pointer;
}

.search-address-container-button {
    width: 30px;
    border: 0;
    background: url('searchButton.svg') 50% 50% no-repeat;
}

.select-category-mainPage-input {    
    position: fixed;
    width: 200px;
    height: 50px;
    top: 30px;
    left: 410px;
    background-color: #212121;
    border-radius: 10px;
    z-index: inherit;
}

.exit-create-bottle-button-mainPage {
    position: fixed;
    top: 30px;
    right: 70px;
    width: 35px;
    height: 35px;
    background: url('exitCreateModeIcon.svg') 50% 50% no-repeat;
    background-size: 35px 35px;
    border: none;

    z-index: inherit;
}

@media screen and (max-width: 700px) {
    .create-bottle-button-mainPage {
        position: fixed !important;
        top: auto;
        left: 20px; 
        bottom: 40px;
        /* background: url('createBottleMobileIcon.svg') 50% 50% no-repeat;
        background-size: 100% 100%; */

    }

    .interfaceButton-search-field-with-otherButton {
        position: absolute;
        top: 10px;
        left: 0;
        width: 90%;
        left: 2%;
    }

    .select-category-mainPage-input {
        /* display: none; */
        left: 0;
        top: 12%;
        left: 20px;
        width: 50px;
        
        background: url('categoryMobileIcon.svg') 50% 50% no-repeat;
        background-size: 100%;
    }

    .select-category-checked-category-name {
        color: transparent;
    }

    
}