.chat-modal-container {    
    z-index: 550;
    background-color: rgba(105, 105, 105, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.chat-modal-window {    
    width: 370px;
    height: 260px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 40px 40px 40px;
    justify-content: center;
    gap: 20px;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.chat-modal-window-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.chat-modal-window-title {
    font-weight: 500;
    font-size: 22px;    
}

.chat-modal-window-title-name {
    background-image: linear-gradient(90deg, #8F46EC 5.56%, #B77FFF 81.94%);
    background-color: #6c61b3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chat-modal-window-caption {
    font-weight: 500;
    font-size: 14px;
}

.chat-modal-window-rate-buttons {
    display: flex;
    gap: 10px
}

.chate-modal-rate-button {
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #8F46EC 5.56%, #B77FFF 81.94%);
    color: rgba(255, 255, 255, 1);
}

.chate-modal-rate-button:hover {
    background: linear-gradient(90deg, #B77FFF 5.56%, #8F46EC 81.94%);;
}