body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Roboto";
    color: #2F3952;
}

.modal{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 410px;
    height: 686px; 
    background: white;
    border-radius: 26px;
    
}

.modal-content{
    display: grid;
    justify-content: center;

}

.photo{
    width: 100px;
    height: 100px;
    border: none;
    background: url('../image/Ава.svg');
    margin-top: 35px;
    margin-bottom: 20px;
    justify-self: center;
    
}

.change-photo input[type="file"]{
    display: none;
}
.change-photo{
    justify-self: center;
}

.file-lable{
    display: block;
    width: 121px;
    height: 11px;
    cursor: pointer;
    font-family: Roboto;
    font-size: 10px;
    line-height: 12px;
    color: #63CDDA;
    white-space: nowrap;
    margin-bottom: 20px;
    
}

.rating{
    width: 150px;
    height: 150px; 
    justify-self: center; 
    display: grid;
    grid-template-areas:"rating";
}

#myChart{
    grid-area: rating;
}

.circle{
    width: 138px;
    height: 138px;
    /* background-color: #63CDDA; */
    border-radius: 50%;
    grid-area: rating;
    text-align: center;
    /* margin-left: 55px; */
    margin-top: 65px;
    font-family: Roboto;
    font-size: 25px;
    line-height: 30px;
    /* color: #2F3952; */
    grid-area: rating;
    justify-self: center;
    align-self: center;

}

.hystmodal__close{
    top: 240px;
    right: 152px;
    background-image: url('../image/вернутьсянакарту.svg');
    width: 283px;
    height: 78px;
    
}

@media (max-width:767px){
    .hystmodal__close{
        
        width: 283px;
        height: 78px;
        background-image: url('../image/вернутьсянакарту.svg');
    }
}

.rating-number {
    padding-bottom: 100px;
}

#container {
    /* width:960px; */
    margin:0 auto;
    background: url("faux-columns.png") repeat-y;
    overflow: hidden;
  }
  #sidebar {
    float:left;
    /* width:340px; */
  }
  #content {
    float:left;
    margin-top: 8px;
    margin-left: 60px;
    line-height: 22px;
    /* width:620px; */
  }